<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <header><%- include('../partials/navbar') %></header>
  <body>
    <main class="container">
      <%- include('../partials/dirDisplay') %> <%-
      include('../partials/fileButtons') %>
    </main>
  </body>
</html>
