<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<header>
    <%- include('../partials/navbar') %>
</header>
<body>
    <main>
        <h1 class="h1 display-1">Home Sweet Home</h1>
    </main>
</body>
</html>